{% extends 'base.html' %}

{% block content %}
<div class="about-block">
      <p>The application "Logic Puzzles" was created to develop the creative thinking of users.</p>
      <p>Written in Django using PostgreSQL database. Neumorphism was used on the frontend.</p>
      <p>Implemented functionality:</p>
      <ul>
          <li>user registration;</li>
          <li>user authorization;</li>
          <li>automatic authorization after successful registration;</li>
          <li>adding custom puzzles;</li>
          <li>field validation for abusive words</li>
          <li>inability to add new puzzles without authorization</li>
          <li>getting previous and next tasks from the database;</li>
      </ul>
  </div>
{% endblock content %}