{% extends 'base.html' %}

{% block content %}
<div class="propose-block">
    <form action="{% url 'propose_puzzle' %}" method="post">
    {% csrf_token %}

    {% for f in form %}
    <p><label for="">{{ f.label }}:</label>
        <div class="form-error">{{ f.errors }}</div>
        {{ f }}
    </p>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <button class="send-btn" type="submit">Send puzzle</button>
      {% else %}
    <p class="propose-message">Only authorized users can add puzzles</p>
    {% endif %}
    </form>
</div>
{% endblock content %}