{% extends 'base.html' %}

{% block content %}
<div class="question-item">
        <p class="question-text">
            {{ puzzle.question }}
            <br><br>
            Author a puzzle: {{puzzle.user}}
        </p>
        <label class="answer-btn" for="toggle-1">Show answer</label>
        <input type="checkbox" id="toggle-1">
        <div class="answer">{{ puzzle.answer }}</div>

        {% if prev_puzzle != None %}
            <a class="prev-puzzle" href="{{ prev_puzzle.get_absolute_url }}"> << Previous puzzle</a>
        {% endif %}
        {% if next_puzzle != None %}
            <a class="next-puzzle" href="{{ next_puzzle.get_absolute_url }}">Next puzzle >> </a>
        {% endif %}
    </div>
{% endblock content %}