{% extends 'base.html' %}

{% block content %}
<div class="about-block">
      <p>The application "Logic Puzzles" was created to develop the creative thinking of users.</p>
      <p>Written in Django using PostgreSQL database. Neumorphism was used on the frontend.</p>
      <p>Implemented functionality:</p>
      <ul>
          <li>Customization of the User model has been completed using AbstractUser.
              <br>Added new user fields;</li>
          <li>User registration;</li>
          <li>User authorization;</li>
          <li>Automatic authorization after successful registration;</li>
          <li>Сreated a personal account with user data;</li>
          <li>Added the ability to edit user's personal data;</li>
          <li>Validation of the Ukrainian phone number is done</li>
          <li>Adding custom puzzles;</li>
          <li>Field validation for abusive words;</li>
          <li>Inability to add new puzzles without authorization;</li>
          <li>Getting previous and next tasks from the database;</li>
          <li>Added number of pageviews;</li>
          <li>Adding comments by users;</li>
          <li>Commenting on early comments;</li>
      </ul>
  </div>
{% endblock content %}