{% extends 'base.html' %}
{% load static %}

{% block content %}
{% autoescape off %}

<div class="question-item">
    <p class="question-text">
        {{ puzzle.question }}
    </p>
    <p class="count-page">Views: {{ count }}</p>
    <label class="answer-btn" for="toggle-1">Show answer</label>
    <input type="checkbox" id="toggle-1">
    <div class="answer">{{ puzzle.answer }}</div>

    <div class="nav-buttons">
    {% if prev_puzzle != None %}
        <a class="prev-puzzle" href="{{ prev_puzzle.get_absolute_url }}"> << Previous puzzle</a>
    {% endif %}
    {% if next_puzzle != None %}
        <a class="next-puzzle" href="{{ next_puzzle.get_absolute_url }}">Next puzzle >> </a>
    {% endif %}
    </div>

    <!-- Comment block -->
    <div class="comment-block">
<!--        <p>{{ puzzle.comment_set.count }}</p>-->
        {% if request.user.is_authenticated %}
        <form class="form-answer" method="post" id="formComment">
              {% csrf_token %}
              {% for f in form %}
                <div class="form-error">{{ f.errors }}</div>
                {{ f }}
              {% endfor %}
              <button class="send-comm-btn" type="submit">Send puzzle</button>
          </form>
        {% else %}
        <p class="comm-warning">Please log in to leave a comment</p>
        {% endif %}

      <ul class="comm-list">
        {% for comm in comments %}
        <li>
            {% if comm.user.photo %}
            <div class="img-wrapper">
                <img src="{{ comm.user.photo.url }}" alt="">
            </div>
            {% else %}
            <div class="img-wrapper">
                <img src="{% static 'img/no-photo-user.png' %}" alt="">
            </div>
            {% endif %}
            <p class="comm-author">{{ comm.user }}</p>
            <p class="comm-text">{{ comm.text }}</p>
            <a href="#formComment" class="comm-answer" onclick="addComment('{{ comm.user }}', {{ comm.id }})">answer</a>

          {% for child_comm in comm.comment_set.all reversed %}
          <ul class="child-comm-list">
            <li>
                {% if child_comm.user.photo %}
                <div class="img-wrapper">
                    <img src="{{ child_comm.user.photo.url }}" alt="">
                </div>
                {% else %}
                <div class="img-wrapper">
                    <img src="{% static 'img/no-photo-user.png' %}" alt="">
                </div>
                {% endif %}
              <p class="comm-author">{{ child_comm.user }}</p>
              <p class="comm-text">{{ child_comm.text }}</p>
              <a href="#formComment" class="comm-answer" onclick="addComment('{{ comm.user }}', {{ comm.id }})">answer</a>
            </li>
          </ul>
          {% endfor %}

        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Comment block -->

</div>
{% endautoescape %}
<script>
    function addComment(name, id) {
        document.getElementById('contactparent').value = id;
        document.getElementById('contactcomment').innerText = `${name}, `
    }
</script>
{% endblock content %}